body {
  font-size: 14px;
}

a:hover {
  color: #095aa5;
}

.one-section {
  padding: 50px 0;
}
.one-section.grayBg {
  background: #f6f6f6;
}

.section-title h3 {
  font-size: 40px;
}
.section-title .line {
  height: 1px;
  background: black;
  width: 160px;
  margin-top: 20px;
}

.title2 .h3 {
  font-size: 40px;
}
.title2 .bottom .line {
  height: 1px;
  background: black;
  margin: 20px 0;
  width: 20%;
  display: block;
}
.title2 .bottom .line.white {
  background: white;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px 0;
}
#header h1 {
  line-height: 1;
}
#header h1 img {
  vertical-align: top;
  width: 170px;
}
#header h1 img.logo2 {
  display: none;
}
#header li {
  margin-inline-start: 20px;
}
#header li a {
  color: white;
  font-size: 12px;
}
#header .desktop-menu {
  display: none;
}
#header .mobile-menu li {
  margin: 0 20px;
}
#header .mobile-menu li a {
  color: black;
  display: block;
  padding: 5px 0;
}
#header .mobile-menu .dropup .dropdown-toggle:after {
  display: none;
}
#header.scrolled {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
}
#header.scrolled h1 img.logo2 {
  display: block;
}
#header.scrolled h1 img.logo1 {
  display: none;
}
#header.scrolled li a {
  color: black;
}
#header.scrolled line {
  stroke: black;
}

.top-section {
  height: 100vh;
  padding-top: 100px;
}
.top-section .top-section_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #91bfdc;
  z-index: 0;
}
.top-section .top-section_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.top-section .top-section_bg .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgb(68, 139, 194) 0%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-linear-gradient(top, rgb(68, 139, 194) 0%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to bottom, rgb(68, 139, 194) 0%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#448bc2", endColorstr="#007db9e8",GradientType=0 );
  /* IE6-9 */
}
.top-section .top-section_content {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 800px;
  margin: 10% auto 0;
  color: white;
}
.top-section .top-section_content h2 {
  font-size: 40px;
  max-width: 680px;
  margin-bottom: 20px;
}
.top-section .top-section_content .paragraphs_line {
  flex: 0 0 20%;
  height: 1px;
  background: white;
  margin: 10px 10px 0 0;
}

.one-card {
  display: flex;
  background: white;
  margin-bottom: 20px;
  height: 170px;
}
.one-card .one-card_image {
  flex: 0 0 170px;
}
.one-card .one-card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.one-card .one-card_content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one-card .one-card_content h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #095aa5;
}
.one-card .one-card_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.one-card .one-card_content button {
  background: white;
  color: #095aa5;
  border: 1px solid #ccc;
  padding: 10px;
}

.about-us h4 {
  font-size: 40px;
}
.about-us .section-title {
  margin-bottom: 20px;
}
.about-us .about-us_section {
  max-width: 370px;
}

.contact-us-section {
  background: #095aa5;
  color: white;
}
.contact-us-section .contact-us_form input {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #9dbddb;
  padding: 0 15px;
  height: 50px;
  margin-bottom: 30px;
  color: #9dbddb;
}
.contact-us-section .contact-us_form input::placeholder {
  color: #3a7bb7;
}
.contact-us-section .contact-us_form select {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid #9dbddb;
  padding: 0 15px;
  color: #9dbddb;
  background: url("../images/arrow-down.png") no-repeat right 15px center;
  appearance: none;
  margin-bottom: 30px;
}
.contact-us-section .contact-us_form select::placeholder {
  color: #3a7bb7;
}
.contact-us-section .contact-us_form textarea {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #9dbddb;
  padding: 15px;
  height: 210px;
  margin-bottom: 30px;
  color: #9dbddb;
}
.contact-us-section .contact-us_form textarea::placeholder {
  color: #3a7bb7;
}
.contact-us-section .contact-us_form button {
  width: 100%;
  height: 50px;
  background: #fff;
  color: #095aa5;
  border: 1px solid #fff;
}

#footer .content .footer-col {
  padding: 10px 0;
}
#footer .content .left-col {
  font-size: 14px;
}
#footer .content .left-col img {
  width: 160px;
  margin-bottom: 20px;
}
#footer .content .nav {
  flex-grow: 1;
}
#footer .content .nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}
#footer .content .nav ul li {
  flex: 0 0 50%;
}
#footer .content .right-col {
  display: flex;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  padding-top: 20px;
}
#footer .content .right-col p {
  margin-inline-end: 20px;
}
#footer .content .right-col .backToTop {
  width: 60px;
  height: 60px;
  margin-inline-start: 70px;
}

.quote {
  padding: 100px 20px;
  position: relative;
}
.quote p {
  font-size: 28px;
}

.carousel-section {
  position: relative;
}
.carousel-section .quoteBefore {
  position: absolute;
  top: 50px;
  left: 1rem;
  width: 80px;
  height: 60px;
  background: url("../images/quote.svg") no-repeat center;
  background-size: contain;
}
.carousel-section .quoteAfter {
  position: absolute;
  bottom: 120px;
  right: 1rem;
  width: 80px;
  height: 60px;
  background: url("../images/quote2.svg") no-repeat center;
  background-size: contain;
}
.carousel-section .carousel-arrows {
  display: flex;
  width: 100%;
}
.carousel-section .carousel-arrows .line {
  height: 1px;
  background: #000;
  flex-grow: 1;
  margin-inline-start: 20px;
  align-self: center;
}
.carousel-section .splide__arrow {
  background: none;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  border: 1px solid #e6e6e6;
}
.carousel-section .splide__arrow svg {
  fill: #095aa5;
  width: 20px;
}
.carousel-section .splide__arrow.splide__arrow--prev {
  transform: rotate(180deg);
  margin-right: 20px;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }

  #header {
    padding: 40px 0;
  }
  #header.scrolled {
    padding: 20px 0;
  }
  #header .desktop-menu {
    display: block;
  }
  #header .mobile-menu {
    display: none;
  }

  .one-section {
    padding: 80px 0;
  }

  .title2 .h3 {
    font-size: 48px;
  }

  .section-title h3 {
    font-size: 48px;
  }

  .top-section .top-section_content h2 {
    font-size: 64px;
    max-width: 680px;
    margin-bottom: 40px;
  }
  .top-section .top-section_content .paragraphs_line {
    flex: 0 0 40%;
  }

  .carousel-section .quoteBefore {
    top: 100px;
    width: 125px;
    height: 90px;
  }
  .carousel-section .quoteAfter {
    bottom: 150px;
    width: 125px;
    height: 90px;
  }

  .one-card {
    height: 255px;
  }
  .one-card .one-card_image {
    flex: 0 0 255px;
  }
  .one-card .one-card_content {
    padding: 20px;
  }
  .one-card .one-card_content h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .one-card .one-card_content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .one-card .one-card_content button {
    padding: 10px 30px;
  }

  .quote {
    padding: 150px 20px;
  }

  .about-us .section-title {
    margin-bottom: 40px;
  }
  .about-us h4 {
    font-size: 48px;
  }

  #footer .content .footer-col {
    padding: 20px 0;
  }
  #footer .content .nav ul {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .section-title h3 {
    font-size: 64px;
  }

  .top-section .top-section_content {
    margin: 60px auto 0;
  }

  .one-section {
    padding: 150px 0;
  }

  .title2 .h3 {
    font-size: 64px;
  }
  .title2 .bottom {
    display: flex;
    align-items: center;
  }
  .title2 .bottom .line {
    height: 1px;
    background: black;
    flex-grow: 1;
    margin: 0 40px;
  }
  .title2 .bottom .line.white {
    background: white;
  }
  .title2 .bottom p {
    flex: 0 0 455px;
  }

  .quote {
    padding: 200px 20px;
  }
  .quote p {
    font-size: 40px;
  }

  .carousel-section .quoteBefore {
    top: 150px;
    left: 10rem;
  }
  .carousel-section .quoteAfter {
    bottom: 220px;
    right: 10rem;
  }

  .about-us h4 {
    font-size: 64px;
    line-height: 60px;
  }

  #footer .content {
    display: flex;
  }
  #footer .content .footer-col {
    padding: 50px 0;
    border-right: 1px solid;
    padding-inline-end: 30px;
    margin-inline-end: 30px;
  }
  #footer .content .footer-col:last-child {
    border-right: none;
    padding-inline-end: 0;
    margin-inline-end: 0;
  }
  #footer .content .right-col {
    border: none;
    padding-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
